<p id="notice"><%= notice %></p>

<h1>相談内容一覧</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @welcomes.each do |welcome| %>
      <tr>
        <td>相談内容：　</td>
        <td><%= welcome.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'みんなで作る介護事業の相談窓口', new_welcome_path %>
